part3/3.dtd

<!ELEMENT page (ip_table, ips)>
<!ATTLIST page url CDATA #REQUIRED>

<!ELEMENT ip_table (ipa*) >

<!ELEMENT ipa EMPTY>
<!ATTLIST ipa addr CDATA #REQUIRED>
<!ATTLIST ipa date CDATA #REQUIRED>

<!ELEMENT ips (ip ip ip ip ip) >
<!ELEMENT ip EMPTY>
<!ATTLIST ip addr CDATA #REQUIRED>
<!ATTLIST ip frequency CDATA #REQUIRED>